server:
  port: 8080
  servlet:
    context-path: /

spring:
  application:
    name: learn-modulith-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/learn_modulith
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

stock:
  order:
    extra-divisor: 3
    output-path: ./stock-orders

logging:
  level:
    root: INFO
    com.epam.learnmodulith: DEBUG

