spring:
  application:
    name: demo-security-boot-3
  datasource:
    url: jdbc:postgresql://localhost:5432/learn_modulith
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
